html,
body,
div,
span,
object {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body{
    height: 100%;
    background-color: #1f2630;
    padding: 50px;
    box-sizing: border-box;
    color: #7fafdf;
}

.general {
    height: 100%,
    width: 100%,
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #252e3f;
    padding: 2rem;
}

.title {
    margin-bottom: 2rem;
    font-size: 2rem;
    height: 10vh;
    text-align: center;
}

.Select {
    color: #7fafdf;
}
.Select-control {
  background-color: #1f2630;
}
.Select-menu-outer {
  background-color: #1f2630;
  cursor: pointer;
}
.Select-value {
    cursor: pointer;
}
.Select-value-label {
    color: #7fafdf!important;
}
.Select div {
    background-color: #1f2630;
}

.tickers {
    margin-bottom: 2rem;
}